html {
    background: #404040 url(https://source.unsplash.com/collection/887132/1600x900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Varela Round', sans-serif;
    color: #FFFFDB;
    position: relative;  
 
}

html::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(73, 44, 44, 0.4);
    z-index: 0;
}

.box{
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

body{
    width: 100vw;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: minmax(100px, auto) ;
    grid-template-rows: minmax(75px, auto) ;
    grid-template-areas:
        "hd hd hd hd md md md md"
        "cd cd cd cd cd cd cd cd"
        "sd sd sd sd sd sd sd sd"      
        "fd fd fd fd fd fd fd fd" ;
    grid-gap: 5px;
}


.sidebar{
    grid-area: cd;
    display: flex;
    width: 30%;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    z-index: 1;

}
.siderbar h1{
    display: flex;
    /* justify-content: flex-start; */
    width: 100px;

}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

#biosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar p{
    max-width: 75%;
    border: 2px gray solid;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    /* text-align: left; */
    font-family: 'Varela Round', sans-serif !important;
    margin: 5px;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: hd;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

#headerstyle2{
    background-color: #404040;
    border-radius: 20px;
    border: 2px solid gray;
    padding: 10px;
    font-family: 'Rock Salt', cursive ;
    margin: 10px;

}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-area: md;
}

#menulink{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: inherit;
   
}

#menulink:hover{
    background-image: linear-gradient(to right, #49443e, #cfc7cf); 
    -webkit-background-clip: text;
    color: transparent;
}


#menuOption1:hover{
        box-shadow: 2px 12px 15px #FF6319;
        transform: translateY(-2px);
}

#menuOption2:hover{
    box-shadow: 2px 12px 15px #FCCC0A;
    transform: translateY(-2px);
}

#menuOption3:hover{
    box-shadow: 2px 12px 15px #8E258D;
    transform: translateY(-2px);
}

#menuOption1{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 18px 18px 18px 18px;
    margin: 0px 20px 0px 20px;
    height: 60px;
    width: 60px;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-color: #FF6319;
}

#menuOption2{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 18px 18px 18px 18px;
    margin: 0px 20px 0px 20px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d8af0a;
}

#menuOption3{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 18px 18px 18px 18px;
    margin: 0px 20px 0px 20px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8E258D;
}

#menuOption4{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0039A6;
}

#bloginfo{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bloginfo p{

    text-align: center;
    justify-content: center;
    display: inline;
}

#bloginfo a{
    text-decoration: none;
    color: lightblue;
}

#blogdate{
    margin-bottom: 10px;
}
#blogdate p{
    display: inline;
}
.footer{
    grid-area: fd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
