@import 'cards.css';
@import 'MediaQ.css';
@import 'socials.css';


@media(min-width: 1200px){
html {
    background: #404040 url(https://source.unsplash.com/collection/887132/1600x900);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    color: #FFFFDB;
    position: relative;  
}

html::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(73, 44, 44, 0.4);
    z-index: 0;

}

.container{
    display: grid;
    grid-template-columns: minmax(100px, auto) ;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd md md md md"
        "sid sid sid sid sid sid sid sid"
        "sd sd sd sd sd sd sd sd"
        "fd fd fd fd fd fd fd fd" ;
    grid-gap: 5px;
 
}


.box{

    border-radius: 10px;
    z-index: 1;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: hd;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
      text-align: center;
  }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-area: md;
}

#menulink{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: inherit;
    text-align: center;
   
}


#menulink:hover{
    background-image: linear-gradient(to right, #49443e, #cfc7cf); 
    -webkit-background-clip: text;
    color: transparent;

}


#menuOption1:hover{
        box-shadow: 2px 12px 15px #FF6319;
        transform: translateY(-2px);
}

#menuOption2:hover{
  
    box-shadow: 2px 12px 15px #FCCC0A;
    transform: translateY(-2px);
}

#menuOption3:hover{
    box-shadow: 2px 12px 15px #8E258D;
    transform: translateY(-2px);
}

#menuOption1{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FF6319;
}

#menuOption2{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d8af0a;
}

#menuOption3{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8E258D;
}

#menuOption4{
    display: flex;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0039A6;
}

.footer{
    grid-area: fd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

}